@font-face {
  font-family: 'Raleway Heavy';
  src: url('../fonts/Raleway-Heavy.woff') format('woff'), url('../fonts/Raleway-Heavy.ttf') format('truetype'), url('../fonts/Raleway-Heavy.svg#Raleway-Heavy') format('svg');
  src: url('../fonts/raleway.heavy.eot');
  src: url('../fonts/raleway.heavy.woff2') format('woff2'), url('../fonts/raleway.heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  src: url('../fonts/raleway.bold.eot');
  src: url('../fonts/raleway.bold.woff2') format('woff2'), url('../fonts/raleway.bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
